/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11.06.2016, 1:29:37
    Author     : KnightDanila
*/

.MW-content-fpm3d {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    color: black;
    -webkit-box-shadow: 0px 8px 56px 4px rgba(0,255,255,0.75);
    -moz-box-shadow: 0px 8px 56px 4px rgba(0,255,255,0.75);
    box-shadow: 0px 8px 56px 4px rgba(0,255,255,0.75);
}
/* The Close Button */
.MW-close-btn-fpm3d {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.MW-close-btn-fpm3d:hover,
.MW-close-btn-fpm3d:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}